<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Milk Collector Details</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .details-container {
            margin: 50px auto;
        }

        .alert {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container details-container">
    <h2 class="text-center">Milk Collector Details</h2>

    <!-- Success Message -->
    <div th:if="${successMessage}" class="alert alert-success"
         role="alert">
        <span th:text="${successMessage}"></span>
    </div>

    <!-- Error Message -->
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>
<!--    <h3 class="text-center">Farmer ID: <span th:text="${farmerId}"></span></h3>-->
    <h4 class="text-center">-->
        Farmer Name: <span th:text="${farmerName}"></span>
    </h4>
<!--    <h4 class="text-center">-->
<!--        Milk Collector ID: <span th:text="${currMilkCollector.id}"></span>-->
<!--    </h4>-->

    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <th>Name</th>
            <td th:text="${currMilkCollector.name}"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td th:text="${currMilkCollector.email}"></td>
        </tr>
        <tr>
            <th>Mobile No</th>
            <td th:text="${currMilkCollector.mobileNo}"></td>
        </tr>
        <tr>
            <th>Location</th>
            <td th:text="${currMilkCollector.location}"></td>
        </tr>
        </tbody>
    </table>



    <h3 class="text-center">Create Report</h3>
    <form th:action="@{/createReport}" method="post">
        <input type="hidden" name="id" th:value="${currentFarmer.id}">
        <input type="hidden" name="currMilkCollectorId" th:value="${currMilkCollector.id}">
        <input type="hidden" name="name" th:value="${currentFarmer.name}">
        <input type="hidden" name="milkUnitsPerDay" th:value="${currentFarmer.milkUnitsPerDay}">
        <input type="hidden" name="ratePerLiter" th:value="${currentFarmer.ratePerLiter}">

        <div class="form-group">
            <label for="date">Select Date:</label>
            <input type="date" id="date" name="date" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Create Report</button>
    </form>
    <!-- Show Report Button (displayed only if success message is shown) -->
    <div class="text-center">
        <a
                th:href="@{/report/pdf}"
                class="btn btn-info">Show Report</a>
        View Generated Report
    </div>


</div>
</body>
</html>