<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Role Based Auth</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .navbar { background-color: #61df88; }
        .anchor { margin: 6px; background-color: #d9edf7; border-color: #d9edf7; }
        input, label { display: block; }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h1>Role Based Authentication</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h4> Hi, Welcome <span th:text="${userDetails}"></span> </h4>
                    </div>
                    <div class="col-md-3">
                        <a th:href="@{/logout}" class="btn anchor" style="margin-left:500px">
                            <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <h1>Welcome to User Dashboard. Your User ROLE was selected as USER</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <form th:action="@{/api/payments/{planType}(planType=${planType})}" method="post">
            <input type="hidden" name="userId" th:value="${userDetails.id}" />
            <label for="planType">Select Plan Type:</label>
            <select id="planType" name="planType">
                <option value="MONTHLY">Monthly</option>
                <option value="ANNUALLY">Annually</option>
            </select>
            <button type="submit" class="btn anchor">Pay Now</button>
        </form>
    </div>
</div>
</body>
</html>
